<div class="container">
  <form #artistSearchForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="artist">Artist</label>
      <input
        [(ngModel)]="artistModel.artist"
        name="artist"
        type="text"
        class="form-control"
        id="artist" required>
    </div>

    <div class="form-group">
      <label for="song">Song</label>
      <input
        [(ngModel)]="artistModel.song"
        name="song"
        type="text"
        class="form-control"
        id="song" required>
    </div>

    <button type="button" class="btn btn-default" (click)="onSubmit()">Submit</button>

  </form>
  <div *ngIf="lyrics !== null">
    <div class="lyrics">{{lyrics}}</div>
    <app-clusters [cluster]="cluster"></app-clusters>
  </div>
</div>
